<%- include('partials/head.ejs') -%>

<%- include('partials/header'); -%>

<div class="container">
  <div class="row">
      <div class="col-lg-6 mx-auto mt-4 shadow-lg">
          
              <div class="card-body p-4">
                <h3 class="px-4">Add new Task</h3>
                  <form action="/tasks/addTask" method="post" id="add-task">
                      <div class="mb-3">
                          <label for="title" class="form-label">Enter Title</label>
                          <input type="text" name="title" class="form-control" >
                        </div>
                        <div class="mb-3">
                          <label for="desc" class="form-label">Enter description</label>
                          <textarea class="form-control" name="desc" rows="3"></textarea>
                        </div>
                        <button type="submit" name="add" class="btn" style="border-radius: 36px; background: #f7fe96;">ADD</button>
                  </form>
              </div>
          
      </div>
  </div>
</div>

<!-- 


<script>
    const form = document.querySelector('form');
  
    form.addEventListener('submit', async (e)=>{
  
      e.preventDefault();
  
      const title = form.title.value;
      const desc = form.desc.value;
      console.log("title and desc",title,desc);
      try {
        const res = await fetch('/tasks/addTask', {
          method:'POST',
          body:JSON.stringify({ title, desc }),
          headers: { 'content-type':'application/json' }
        })
        const data = await res.json();
  
        console.log("data is added");
        if(data){
          location.assign('/tasks');
        }
  
      } catch (err) {
        console.log(err);
      }
     
    })
  
  </script> -->
<%- include('partials/footer'); -%>